<!-- html in here -->
<div class="mainbody-block">
<div class="message">
<div class="maintop-1-2-wrap row">
<div class="maintop-1 col-xs-12 col-sm-12 col-md-8 col-lg-8">
<jdoc:include type="modules" name="maintop-1" style="JAxhtml" />
</div>
<div class="maintop-2  col-xs-12 col-sm-12 col-md-4 col-lg-4">
<jdoc:include type="modules" name="maintop-2" style="JAxhtml" />
</div>
</div>
<div class="content-top">
  <jdoc:include type="modules" name="content-top" style="JAxhtml" /></div>
  <jdoc:include type="message" /></div>
<div class="mainbody himax">
<div class="mainbody-inner">
  <jdoc:include type="component" />
  </div>
</div>
<div class="submain">
<div class="submain-0">
<jdoc:include type="modules" name="submain-0" style="JAxhtml" /></div>
<div class="submain-1-2-wrap row">
<div class="submain-1 col-xs-12 col-sm-12 col-md-12 col-lg-6">
<jdoc:include type="modules" name="submain-1" style="JAxhtml" />
</div>
<div class="submain-2  col-xs-12 col-sm-12 col-md-12 col-lg-6">
<jdoc:include type="modules" name="submain-2" style="JAxhtml" />
</div>
</div>
<div class="submain-3"><jdoc:include type="modules" name="submain-3" style="JAxhtml" /></div>
<div class="submain-4-5-wrap row">
<div class="submain-4 col-xs-12 col-sm-12 col-md-12 col-lg-6">
<jdoc:include type="modules" name="submain-4" style="JAxhtml" />
</div>
<div class="submain-5  col-xs-12 col-sm-12 col-md-12 col-lg-6">
<jdoc:include type="modules" name="submain-5" style="JAxhtml" />
</div>
</div>
</div>
<div class="content-bottom">
<jdoc:include type="modules" name="content-bottom" style="JAxhtml" />
</div>
<div></div><div style="clear:both"></div></div>